
<div class="container w-100 bg-danger rounded-sm">
  <div class="col-12 my-4 p-5 " >
    <div class="row ml-auto">
      <div class="card" style="width: 12rem;">
        <img src="../../assets/test.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card ml-auto" style="width: 12rem;">
        <img src="../../assets/test.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card ml-auto" style="width: 12rem;">
        <img src="../../assets/test.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div class="card ml-auto" style="width: 12rem;">
        <img src="../../assets/test.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
      </div>
      <div>
        <p class="p-3 bg-warning text-white ml-3"> محبوب ترین آثار</p>
      </div>
    </div>

  </div>
</div>
